{
	debug
	admin off
	http_port 8888

	security {
		local identity store localdb {
			realm local
			path {$HOME}/.local/caddy/users.json
		}

		authentication portal myportal {
			enable identity store localdb
			crypto default token lifetime 3600
			cookie domain *
			cookie insecure on
			ui {
				links {
					"IDE" /ide/ icon "las la-star"
					"My Identity" "/whoami" icon "las la-user"
				}
			}
		}

		authorization policy admins_policy {
			set auth url /auth
			crypto default token lifetime 3600
			allow roles authp/admin authp/user
			acl rule {
				comment allow users
				match role authp/user
				allow stop log info
			}
		}
	}
}

:8888 {
	log
	route /auth* {
		trace tag="XYZ" response_debug=yes uri_filter="^/auth/login$"
		authenticate with myportal
	}

	route /ide* {
		trace disabled=no tag="foo"
		authorize with admins_policy
		uri strip_prefix /ide
		reverse_proxy http://127.0.0.1:8080
	}

	route {
		redir https://{hostport}/auth/ 302
	}
}
